# Load mise
eval "$(mise activate bash)"

# Dev-only environment
export MIX_ENV="dev"
export DATABASE_URL="postgres://postgres:postgres@localhost:5432/poof_dev"
export IEX_COOKIE="poof_cookie"

# Livebook settings
export LIVEBOOK_TOKEN_ENABLED=false
export LIVEBOOK_PORT=6969
export LIVEBOOK_IFRAME_PORT=6981
export LIVEBOOK_DEFAULT_RUNTIME="attached:streamline@127.0.0.1:$IEX_COOKIE"
