<Layouts.flash_group flash={@flash} />
<div class="flex items-center justify-center h-screen">
  <div class="flex flex-col gap-2">
    <div class="flex flex-col">
      <p class="text-[4rem] font-semibold leading-10 tracking-tighter text-balance">
        poof
      </p>
      <p class="ml-4 mt-[2] text-[0.8rem] leading-7 text-base-content/70">
        (paper over other formats)
      </p>
    </div>

    <.button variant="primary" href="/today">get started</.button>
  </div>
</div>
